
            <h3>calculadora</h3>
            <table>
                <tr>
                    <tr>
                        <input type="text" name="pantalla" value="" id="pantalla" readonly="readonly">
                        <input type="hidden" name="aux" value="" id="aux">
                        <input type="hidden" name="valor_operacion" value="" id="valor_operacion">
                    </tr>
                    <tr>
                        <td><input class="ab" type="image" value="7" src="num/7.png" onclick="number(7)"></td>
                        <td><input type="image" value="8" src="num/8.png" onclick="number(8)"></td>
                        <td><input type="image" value="9" src="num/9.png" onclick="number(9)"></td>
                        <td><input class="btn" type="button" value="+" onclick="suma()"></td>
                    </tr>
                    <tr>
                        <td><input type="image" value="4" src="num/4.png" onclick="number(4)"></td>
                        <td><input type="image" value="5" src="num/5.png" onclick="number(5)"></td>
                        <td><input type="image" value="6" src="num/6.png" onclick="number(6)"></td>
                        <td><input class="btn" type="button" value="-" onclick="resta()"></td>
                    </tr>
                    <tr>
                        <td><input type="image" value="1" src="num/1.jpg" onclick="number(1)"></td>
                        <td><input type="image" value="2" src="num/2.jpg" onclick="number(2)"></td>
                        <td><input type="image" value="3" src="num/3.png" onclick="number(3)"></td>
                        <td><input class="btn" type="button" value="x" onclick="multiplicacion()"></td>
                    </tr>
                    <tr>
                        <td><input type="image" value="." src="num/punto.jpg" onclick="number('.')"></td>
                        <td><input type="image" value="0" src="num/0.png" onclick="number(0)"></td>
                        <td><input class="btn" type="button" value="/" onclick="divicion()"></td>
                        <th rowspan="2"><input class="a" type="button" value="=" onclick="igual()"></th>
                    </tr>
                    <tr>
                        <th colspan="2"><input class="b" type="button" value="AC" onclick="back()"> </th>
                        <td><input class="btn" type="button" value="C" onclick="borrar()"> </td>

                    </tr>

                </tr>
            </table>
